*{
    font-family: monospace
}
body, li{
    margin: 0;
    padding: 0;
}
p, h1, h2, h3, h4, h5, h6, li{
    color: gray;
    padding: 0px;
    margin: 0px;
}
a{
	font-size: 24px
}
a:hover{
	color: blueviolet;
}


.title{
    font-family: 'Covered By Your Grace', sans-serif;
  font-size: 100px;
  line-height: 76px;
  margin: 0;
  position: relative;
  top: 20%;
}
.container{	
    position: relative;
    width: 96%;
    max-width: 1200px;
	height: 100%;
	background-position: center center;
    margin: auto;
    background-color: #f0f0f0;
}
