*{
    font-family: "monospace";
}

body{
    margin: 0px;
    padding: 0px;
    background-color: snow;
}

.wrapper{
    position: relative;
    width: 96%;
    max-width: 1176px;
    background-position: center center;
    margin: 0 auto;
    padding: 0px;
}
/*header section design*/
header{
    background-color: darkslategrey;

}
header:after{
    display: block;
    content: "";
    clear: both;
}

.wrapper_header{
    padding: 2px;
    margin: 0 auto;
}


.wrapper_header h2{
    color: white;
    text-transform: uppercase;
}
.wrapper_header .title{
    float: left;
    max-width: 300px;
}

.nav_bar{
    float: right;
}
.nav_bar nav ul{
    list-style-type: none;
}
.nav_bar nav ul li{
    float: left;
    padding: 12px;
}
.nav_bar nav ul a{
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: aqua;
}
.nav_bar nav ul .active{
    color: lightseagreen;
}
.nav_bar nav ul a:hover{
    color: lightseagreen;
    background-color: darkslategray;
}
/*header section design finish*/
.banner{

}
/*banner of index design for the home page*/
.banner_index ol li{
    line-height: 6px;
}
.banner_index p{
    font-size: 15px;
}
.banner_index ol li h4{
    font-size: 17px;
}
/*banner of index design for the home page finishes here




/*footer section design*/
footer{
    background-color: darkslategray;
}
footer:after{
    display: block;
    content: "";
    clear: both;
}

.wrapper_footer{
    padding-top: 5px;
}

.wrapper_footer h3{
    line-height: 3px;
    color: snow;
}
.wrapper_footer h3 a{
    text-decoration: none;
    color: snow;
}

.wrapper_footer hr{
    height: 2px;
    background-color: azure;
    margin: 0 auto;
}

.wrapper_footer p{
    color: snow;
    text-align: center;
}
/*footer section design finish*/
