*{
	font-family: "Times New Roman";
	font-size: 10px;
}

body{
	margin: 0;
	padding: 0;
	background-color: #f0f0f0;
}

.wrapper{
	position: relative;
	width: 96%;
	max-width: 1200px;
	max-height: 100%;
	background-position: center center;
	margin: 0 auto;
	padding: 0px;
	background-color: white;
}

h3{
	color: #3CB371;
}
h4{
	color: #DC143C;
}

p{
	padding: 15px;
}
.wrapper:after{
	display: block;
	content: "";
	clear: both;
}

#header{
	padding: 2% 0;
	color: gray;
	text-align: center;
}
#header h1, h2{
	line-height: 0;
	font-size: 24px;
}

#menu{
	float: left;
	width: 240px;
	margin: 0 auto;
	padding: 0 2%;
}
#menu h3 a{
	font-size: 18px;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 0;
}
#menu h3 a:hover{
	color: gray;
}

#content{
	float: right;
	margin: 0;
	width: 900px;
}
#content h3{
	line-height: 0;
	font-size: 18px;
	text-transform: uppercase
}
#content table{
	border: none;
}
#content table tr td img{
	width: 370px;
	padding: 0 20px;
}
#footer{
	padding: 2% 0;
	text-align: center;
}
#footer h4{
	font-size: 16px;
	line-height: 0;

}


