


/* Setting up header and footer color*/

header, footer{
    background-color: darkslategray;
    color: snow;
}

/* Menu bar styling*/

.nav_bar ul li{
    list-style-type: none;
    font-weight: bold;
    text-transform: uppercase;
}

.nav_bar ul li a{
    text-decoration: none;
}

.nav_bar ul li a:hover{
    color: darkolivegreen;
}