.container{
    max-width: 100%;
}

table{
    max-width: 50%;
    border: grey;
    border-style: double;
}
th, td{
    border-style: solid
}
tr{
    width: 45px;
    background-color: azure;
}

td:nth-child(1), th:nth-child(1){
    width: 45px;
    background-color: darkblue;
}
tr:nth-child(1){
    height: 30px;
}

td:nth-child(2), th:nth-child(2){
    width: 60px;
    background-color: blue;
}
tr:nth-child(2){
    height: 45px;
}
td:nth-child(3), th:nth-child(3){
    width: 80px;
    background-color: lightblue;
}
tr:nth-child(3){
    height: 55px;
}
td:nth-child(4), th:nth-child(4){
    width: 100px;
    background-color: blueviolet;
}
tr:nth-child(4){
    height: 70px;
}

td:nth-child(5), th:nth-child(5){
    width: 150px;
    background-color: aqua;
}
tr:nth-child(5){
    height: 90px;
}

td:nth-child(6), th:nth-child(6){
    width: 180px;
    background-color: aquamarine;
}
tr:nth-child(6){
    height: 105px;
}
td:nth-child(7), th:nth-child(7){
    width: 200px;
    background-color: cyan;
}
tr:nth-child(7){
    height: 120px;
}
