table{
    height: 450px;
    border-style: solid;
	border-collapse: collapse;
}

td{
	width: 80px;
    border-style: groove;
    text-align: center;
    font-weight: bold;
}

.lab{
	background-color: lightcoral;
}
.lecture{
	background-color: aqua;
}
.weekend{
	background-color: grey;
}
