table{
    height: 450px;
    width: 600px;
    border-style: solid;
}

td{
    border-style: groove;
    text-align: center;
    font-weight: bold;
}

td:nth-child(1), td:nth-child(7){
    background-color: lightblue;
}