*{
    font-family: "monospace";
}

body{
    margin: 0px;
    padding: 0px;
    background-color: snow;
}

.wrapper{
    position: relative;
    width: 96%;
    max-width: 1176px;
    background-position: center center;
    margin: 0 auto;
    padding: 0px;
}
/*header section design*/
header{
    background-color: darkslategrey;

}
header:after{
    display: block;
    content: "";
    clear: both;
}

.wrapper_header{
    padding: 2px;
    margin: 0 auto;

}


.wrapper_header h2{
    color: white;
    text-transform: uppercase;
}
.wrapper_header .title{
    float: left;
    max-width: 300px;

}

.nav_bar{
    position: fixed;
    float: left;
    width: 240px;
    margin: 0 auto;
    padding: 0 2%;
}
.nav_bar nav ul{
    list-style-type: none;
}
.nav_bar nav ul li{
    padding: 12px;
}
.nav_bar nav ul #link{
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: aqua;
}
.nav_bar nav ul .active{
    color: lightseagreen;
}
.nav_bar nav ul #link:hover{
    color: lightseagreen;
    background-color: darkslategray;
}
/*header section design finish*/
.banner{
    min-height: 280px;
    padding: 0 10px;
    margin-left: 250px;
    width: 900px;

}


/*Design for the product*/
table{
    height: 450px;
    width: 600px;
    border-style: solid;
    border-collapse: collapse;
}
td, th{
    border-style: solid;
    text-align: center;
    font-weight: bold;
}


/*table design for product
/*banner of index design for the home page*/
.banner ol li{
    line-height: 6px;
}
.banner p{
    font-size: 15px;
}
.banner ol li h4{
    font-size: 17px;
}
/*banner of index design for the home page finishes here

/* Menu design for provinces*/


/*footer section design*/
footer{
    background-color: darkslategray;

}
footer:after{
    display: block;
    content: "";
    clear: both;
}

.wrapper_footer{
    padding: 5px;

}

.wrapper_footer h3{
    line-height: 3px;
    color: snow;
}
.wrapper_footer h3 a{
    text-decoration: none;
    color: snow;
}

.wrapper_footer hr{
    height: 2px;
    background-color: azure;
    margin: 0 auto;
}

.wrapper_footer p{
    color: snow;
    text-align: center;
}
/*footer section design finish*/



